.header{ position:relative; padding:30px 0;width:1070px; margin:auto;clear:both;}
.logo{    position: absolute; top:30px; left:0; background-color:#11ca5b; width:118px; height:75px; z-index:100}
.logo div{ background:url(../img/logo.svg); background-size:cover; width:98px; height:38px; margin:25px 10px 10px 10px; }
.menu{ height:65px; width: 685px; float:right; margin-top:19px;  }
.menu li{ float:left; color:#fff; font-size:16px; font-family:'微软雅黑'; height:50px; line-height:50px; padding:0 15px 0 15px; cursor:pointer; position:relative;}
.menu li:hover,.menu li.selected{ border-bottom:1px solid #fff;}
.menu li a{ color:#fff; }
.service{ background:url(../img/service.png) no-repeat; background-position:center; padding:20px; }
.case{background:url(../img/case.png) no-repeat; background-position:center; padding:20px;}
.h5share{background:url(../img/h5.png) no-repeat; background-position:center; padding:20px;}
.h5ketang{background:url(../img/01.png) no-repeat; background-position:center; padding:20px;}
.h5tools{background:url(../img/h5-tool.png) no-repeat; background-position:center; padding:20px;}
.about{background:url(../img/about.png) no-repeat; background-position:center; padding:20px;}


/************* 适配 **************/
/*** pad 横屏 ***/
@media (max-width: 1070px){
.header { width: 100%; height:50px; background: black; position:fixed; top:0; z-index:99; padding:0;}
.menu{ margin-top:0;}
.logo{ height:50px; top:0; }
.logo div{ margin-top:8px;transform-origin: center;transform: scale(.8);}
.title{ margin-top:230px;}
.page-header{ overflow:hidden;}
.indication{ width:100%; margin-left:-50%;}
.page-body{ width:100%;overflow:hidden;}
.middle{ box-sizing:border-box;width:100%; overflow:hidden; padding: 0 5%;}
.inner{ width: 96%; overflow: hidden; padding: 0 2% 0 2%;}
.part2 .example{ width:100%;}
.menu li.selected{  border-bottom:0;}
.part2 .content{ left:3%}
.part3 .content{ left:3%}
.col2 { width: 405px;}
}

/*** 手机端 ***/
@media (max-width: 767px){
.mod-container{ padding-top: 51px; }
.page-header{ height: auto;}
.header{padding:0;}
.inner{ width:100%; overflow:hidden; padding:0}
.indication{  text-align: center; bottom:50px;}
.links{ font-size:12px;}
.part6 .example{ width:100%; top: 50px;}
.part7 .example{ width:200%; top: 50px;}
.part2 .content{ left:0}
.part3 .content{ left:0}
.logo{ display:none;}
.menu{width:100%; background:#313131; margin-top:0; height:auto; z-index:99;}
.menu li span:first-child{ display:none;}
.title {font-size: 42px; margin-top:115px;}
.info{   width: 100%; text-align: center; padding-left: 0;}
.menu li{ width:20%; padding:0; text-align:center; font-size:12px;}
.page-body h1 { font-size: 32px; text-indent: 20px;    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.page-body .detail { font-size: 14px; line-height: 18px; margin-top: 10px; padding:0 20px 0 20px;}
.index .part{ overflow:hidden;}
.foot1 .inner{ padding-left:15px;  box-sizing: border-box;}
.cor-logo{ width:23%;  height: 100px;}
}


.blue .logo{  background-color: #6190e8;}
.blue .page-header{  background: #6190e8;}
.blue .col-btn.active div{background: #6190e8;}
.blue .row-btn.active div{background: #6190e8;}
.blue .color2{ color:#6190e8}
